.navcontent{
    list-style: none;
    display: inline-flex;
    padding-top: 20px;
    
}
li{
    padding-right: 40px;
    margin-left: 70px;
    color: plum;
}
nav{
    text-align: right;
    background-color: lightblue;
    padding-top: 0px;
    
}
.scroll{
    overflow: auto;
    padding: 10px;
    background-color: aliceblue;
    white-space: nowrap;
   
}
 img{
    height: 400px;
    width: 400px;
 }


.wholearea{
    position: relative;
}
.content{
    position: absolute;
    bottom: 400px;/*how far is the box from the bottom*/
    left: 20px;
    background-color: pink;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
    padding-bottom: 60px;/*space inside the textbox*/
    
}
.bimage{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.content1{
    position: absolute;
    bottom: 150px;
    right: 20px;
    background-color: pink;
    color: black;
    padding-left: 60px;
    padding-right: 60px;
    font-size: large;
    line-height: 30px;
}
.h2{
    text-align: center;
    color: blueviolet;
    font-weight: 600;
}
/*.aboutus{
    position: absolute;
    bottom: 60px;
    left: 20px;
    background-color: pink;
    color: black;
    padding-left: 60px;
    padding-right: 60px;
    font-size: large;
}*/
li{
    color: black;
    line-height: 40px;
}
a{
    display: flex;
    flex-direction: left;
    padding-bottom: 20px;
    font-size: larger;
}
.column{
    float: left;/*to display them side by side*/
    width: 23%;
    margin-bottom: 18px;
    padding: 18px;
    background-color: lightpink;

    


}
.titleteam{
    color: blueviolet;
}
.button{
    border: white;
    padding-right: 100px;
    padding-left: 10px;
    color: black;
    background-color: lightblue;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: larger;
}
label{
    font-weight: 700;
    display: block;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
    
.form{
    
    padding-top: 20px;
    padding-left: 50px;
    paddi
}
input{
    font-size: larger;
}
.button2{
    background-color: lightblue;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}
.buybtns{
    padding: 30px;
    padding-right: 90px;
    font-weight: 700;
    display: inline-flex
    
}
.button3{
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightblue;
    border-color: white

    
}
.button4{
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightblue;
    border-color: white;
    word-spacing: 1px;
    
    


}
.ourproducts{
    font-weight: 900;
}

.forminfo{
    float: left;
    background-color: lightpink;
    padding: 90px;
    margin-right: 0px;
    display: flex;
    padding-top: 1px;
    
    
    
}
.form{
    line-height: 3;
}
.infoform{
    padding-left: 450px;
    padding-top: 0px;
    font-weight: 600;

}
.navbarbottom{
    float: left;
    padding-left: 0px;
    display: flex;
    font-weight: 900;
    font-size: small;
    padding-bottom:0px;
    background-color: lightblue;
    height: 200px;
    justify-content: space-evenly;
    width: 1820px;

    
}
.icons{
    padding-top: 100px;
    display: flex;
    padding-left: 100px;
    
    
}
.location{
    padding-left: 500px;
    padding-bottom: 0px;
    
}
i{
    padding: 10px;
    padding-bottom: 0px;
    
}
 


    

.logo img{
    margin-left: 0px;
    height: 200px;
    width:200px;
    
}


    